.users {
  display: flex;
  flex-direction: column;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 8px;
  gap: 12px;
  cursor: pointer;
  font-weight: 500;
}

.selectedPage {
  color: rgb(251, 231, 5);
}

.users_list {
  display: flex;
  width: 70%;
  margin: 4px;
  border: 2px solid white;
  border-radius: 8px;
}

.photo_follow {
    width: 80px;
    margin: 10px;
}

button {
  width: 70px;
  cursor: pointer;
}

.userPhoto {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.info {
  display: flex;
  width:300px;
  margin-top: 8px;
  margin-right: 8px;
  color: rgb(179, 225, 253);
}

.location {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    color: rgb(123, 237, 179);
}

.country {
    margin: 3px;
}

.city {
    margin: 3px;
}