.pagination {
    display: flex;
    flex-wrap: wrap;
    margin: 8px;
    gap: 12px;
    cursor: pointer;
    font-weight: 500;
  }
  
  .selectedPage {
    color: rgb(251, 231, 5);
  }

  .page {
    color: rgb(179, 225, 253);
  }