.sidebar {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  margin-right: 10px;
  background: rgb(79, 79, 79);
}

.title {
  margin: 20px;
  color: white;
}

.title a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-size: 2rem;
}

.title a.active {
  color: gold;
}
