.friend {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  
  .friend__title {
    margin: 10px;
    color: rgb(27, 240, 12);
    font-size: 2.6rem;
  }
  
  .friends {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: 20px 0;
  }
  
  .friend__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    height: auto;
    margin: 2px;
    color: white;
    cursor: pointer;
  }
  
  .friend__name {
    font-size: 1.2rem;
  }
  
  .friend__avatar img{
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
  }