.dialog__message {
    margin: 5px 10px;
    color: rgb(237, 243, 142);
}

.dialog__messages {
    display: flex;
    width: 77%;
    flex-direction: column;
    background-color: rgb(116, 116, 116);
    font-size: 1.4rem;
}