.status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
}

.input_status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;

}