.dialog {
    display: flex;
    width: 20%;
    flex-direction: column;
    background-color: rgb(116, 116, 116);
    font-size: 1.6rem;
}

.dialog__item {
    margin: 10px;
}

.dialog__item a{
    text-decoration: none;
    color: white;
}

.dialog__item a.active {
    color: gold;
}